/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

/* Estilos para el header */
#header-container {
    width: 100%;
}

.navbar {
    background-color: white !important;
    padding: 10px 0; /* Aumenta el alto del header */
}

.navbar-brand img {
    height: 80px; /* Aumenta el tamaño del logo si es necesario */
}
.navbar-nav {
    gap: 20px; /* Agrega espacio entre los elementos del menú */
}
.navbar-nav .nav-custom {
    font-size: 1.2rem; /* Aumenta el tamaño de las letras */
    color: black !important;
    font-weight: bold;
    padding: 12px 24px; /*Aumenta el espacio*/
    transition: all 0.3s ease;
    border-radius: 5px;
}

.navbar-nav .nav-custom:hover {
    color: white !important;
    background-color: #030c23; /* Azul oscuro */
    border: 2px solid #030c23;
}
.navbar::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Ajusta según necesites */
    left: 0;
    width: 100%;
    height: 6px; /* Grosor de la sombra */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
}
/* Estilos para el footer */
footer {
    background: linear-gradient(to right, #000015, #000015, #030c23, #030c23, #061732);
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: 60px; /*distancio de espacio*/
}

/* Contenedor del footer */
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Alinea los elementos al inicio */
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre elementos */
    padding: 10px 0;
}

/* Elementos del footer (Dirección, Teléfono, Correo) */
.footer-item {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center;
    gap: 10px; /* Espacio entre icono, línea y texto */
    font-size: 1rem;
}

/* Iconos de dirección, teléfono y correo */
.footer-item i {
    font-size: 1.9rem;
    color: #08b3e5; /* Color azul claro */
}

/* Línea divisoria con efecto degradado */
.footer-line {
    width: 50px;
    height: 3px;
    background: linear-gradient(to right, #08b3e5, #003b7f); /* Gradiente azul */
    border-radius: 5px;
}

/* Iconos de redes sociales en fila (nuevo nombre de clase) */
.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px; /* Espacio arriba de los iconos */
}

/* Iconos de redes sociales */
.footer-social-icons a {
    color: white;
    font-size: 1.9rem;
    transition: color 0.3s ease;
}

.footer-social-icons a:hover {
    color: #08b3e5; /* Color azul claro al hacer hover */
}

/* Texto de copyright */
.copyright {
    margin-top: 20px; /* Espacio arriba del texto */
    font-size: 1.2rem;
    color: #ccc;
}
.alinearText {
    text-align: justify; /* Justifica el texto */
    margin-bottom: 20px; /* Espacio entre párrafos */
}
.negrita {
    font-weight: bold;
}
.tituloBlack{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #030c23; /* Color del título */
}
.espacioTitulo{
    margin-top: 47px;
}
.center{
    text-align: center;
    margin-bottom: 70px
}
.centerHover{
    text-align: center;
}
.textLlamativo {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    margin: 20px 0;
    background: linear-gradient(90deg, #454546, #0c0c0c); /* Gradiente de colores */
    background-clip: text; /* Propiedad estándar */
    -webkit-background-clip: text; /* Compatibilidad con navegadores antiguos */
    color: transparent; /* Hace el texto transparente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra del texto */
    opacity: 0;
    transform: translateY(20px); /* Estado inicial */
    transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Transición suave */
}

.textLlamativo.visible {
    opacity: 1;
    transform: translateY(0); /* Estado final */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Desplazamiento inicial */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Posición final */
    }
}
/*stilo boton*/
.btn-contact {
    display: inline-flex;
    align-items: center;
    background: linear-gradient(to right, #030c23, #061732);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: 2px solid #061732;
}

.btn-contact .arrow {
    margin-left: 10px;
    font-size: 1.4rem;
    transition: transform 0.3s ease;
}

.btn-contact:hover {
    background: linear-gradient(to right, #061732, #0b2e4e);
    border-color: #0b2e4e;
    transform: scale(1.05);
}

.btn-contact:hover .arrow {
    transform: translateX(5px);
}

/* Redes sociales alineadas a la izquierda primera seccion*/
.social-icons {
    display: flex;
    flex-direction: column; /* Asegura que estén en vertical */
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 60px; /* Espacio fijo para los iconos */
    position: absolute;
    left: 20px; /* Ajusta la posición de los iconos */
    z-index: 3;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #08b3e5;
}
/* Botón de WhatsApp */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #02f75a;
    color: white;
    font-size: 24px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

/* Ícono dentro del botón */
.whatsapp-btn i {
    font-size: 30px;
}

/* Ocultar el botón por defecto */
.whatsapp-btn.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Efecto de ondas */
.whatsapp-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(2,247,90,255);
    border-radius: 50%;
    z-index: -1;
    animation: pulse 1.5s infinite;
}

/* Animación de onda expansiva */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.8);
        opacity: 0.1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
/* Imagen hover*/
.imagen-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 40px;
}

.imagen-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(8, 179, 229, 0.5);
}
/* Contenedor principal */
.portada-container {
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    height: 380px; /* Alto fijo */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita que la imagen se salga del contenedor */
    background: #030c23; /* Color de fondo que combina con el gradiente */
}

/* Contenedor de la imagen */
.portadaImge {
    mask-image: linear-gradient(
        to right,
        transparent 1%,
        black 20%,
        black 80%,
        transparent 100%
    );
}
.original-img {
    height: 100%; /* Alto igual al contenedor */
    width: auto; /* Ancho automático para mantener la proporción */
    object-fit: cover; /* Ajusta la imagen al contenedor */
}

/* Superposición del gradiente */
.portada-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(0, 0, 21, 0.5), /* Azul oscuro semitransparente */
        rgba(3, 12, 35, 0.3), /* Azul medio semitransparente */
        rgba(6, 23, 50, 0.1)  /* Azul claro semitransparente */
    );
    z-index: 1; /* Asegura que esté por encima de la imagen */
}
